<template name="projectPage">
  <div class="project-page page">
    <h3>{{project.title}}</h3>
    <p>{{project.summary}}</p>
    <div class="work-area">
        <div class="map-space">
            {{> nodeDisplay project=project}}
        </div>
        <div class="type-space">
            {{> typeDisplay project=project}}
        </div>
    </div>
  </div>
</template>


<template name="nodeDisplay">
   <div id="svgdiv"></div>
</template>

<template name="typeDisplay">
    {{#each nodesData}}
        <div class="text {{isNodeSelected}}" id={{node}}>
            {{> froalaReactive _onblur=doUpdate _value=text countCharacters=false}}
        </div>
    {{/each}}
    <div>
        {{> froalaReactive _onblur=doSave countCharacters=false placeholder="Continue writing..."}}
    </div>
</template>