.grid-block, .main, .project, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #fff;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.project {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 25px;
    padding: 25px;
    text-align: center;
  }
  
  .project .summary {
    font-size: 12px;
  }
  
  .project a:hover{
    text-decoration: none;
  }
  
  .project.add {
    padding: 20px 25px;
    cursor: pointer;
  }

  .project h1 {
      font-size: 50px;
  }
  
  .project.add-form {
      width: 200px;
      height: 200px;
  }

  .project.add-form textarea.title{
      margin-left: 0;
      resize: none;
      text-align: center;
      border: none;
  }

  .project.add-form textarea.summary{
      margin-left: -20px;
      height: 50px;
      resize: none;
      text-align: center;
      border: none;
  }



.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

  #login-dropdown-list{
    list-style: none;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
  }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.projects .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.work-area{
  height: 500px;
  border: 1px dotted #ccc;
}
.map-space{
  float: left;
  width: 70%;
  height: 100%;
  border-right: 1px dotted #ccc;
  padding: 15px;
}

.type-space{
  float: left;
  width: 30%;
  height: 100%;
  border-left: 1px dotted #ccc;
  overflow: scroll;
  padding: 15px;
}

#svgdiv{
  height: 100%;
  width: 100%;
}


circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.selected circle {
    fill: red;
    stroke: red;
    r: 40;
}

.node.selected text {
  fill: #fff;
  font: 12px sans-serif;;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

.text.selectedNode{
  -ms-transform: scale(2,2); /* IE 9 */
  -webkit-transform: scale(2,2); /* Safari */
  transform: scale(1.025,1.025);
  border-left: 1px red dotted;
  padding: 0px 0px 0 5px;
  margin-bottom: 10px;
  font-weight: normal;
  transition: all 0.25s ease-in-out;
  font-size: 14px;
}
.text.selectedNode p {
  margin-bottom: 5px;
}

.text {
  font-weight: 300;
  transition: all 0.25s ease-in-out;
  font-size: 13px;
}

.container {
  width: 100% !important;
}